---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
    Teaser Image
  </div>
</div>

<header class="blog-header">
  {% if site.logo %}
    <a class="blog-logo" href="https://hokkienlang.wordpress.com" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
</header>

<main class="content" role="main">

  <section style="text-align: center;">
    <h2 class="index-headline">
      <a href="https://hokkienlang.wordpress.com">
        Go to hokkienlang.wordpress.com
      </a>
    </h2>

    <h2 class="index-headline">
      <a href="https://hokkienlang.wordpress.com/zh-tw">
        請前往 hokkienlang.wordpress.com/zh-tw
      </a>
    </h2>
  </section>

</main>
